<div class="indicators">
  <div>
    <div class="location">
      <input
        type="text"
        id="location"
        name="location"
        placeholder="Localization:" />
      <button class="location-button">
        <fa-icon [icon]="faArrowRight" style="font-size: 2em"></fa-icon>
      </button>
    </div>
    <div class="info-message-mobile">
      <fa-icon
        [icon]="faFaceSmileBeam"
        style="font-size: 3em; color: var(--success-green)"></fa-icon>
      <div>
        <h3>Clear air</h3>
        <p>You can go outside without fear and enjoy the day</p>
      </div>
    </div>
    <div class="main-info">
      <div class="outer-circle">
        <div class="circle-info">
          <p>79 AQI</p>
        </div>
      </div>
      <div class="info-message-desktop">
        <h3>Clear air</h3>
        <p>You can go outside without fear and enjoy the day</p>
        <fa-icon
          [icon]="faFaceSmileBeam"
          style="font-size: 3em; color: var(--success-green)"></fa-icon>
      </div>
    </div>
    <ul class="more-indicators-desktop">
      <li class="indicator">
        <span class="field-indicator">
          <fa-icon [icon]="faIndustry"></fa-icon>
          <p>Dust</p>
        </span>
        <p>2.0</p>
      </li>
      <li class="indicator">
        <span class="field-indicator">
          <fa-icon [icon]="faSun"></fa-icon>
          <p>UV index</p>
        </span>
        <p>2.75</p>
      </li>
      <li class="indicator">
        <span class="field-indicator">
          <p>(PM<sub>10</sub>)</p>
          <p>Particulate Matter</p>
        </span>
        <p>20.8</p>
      </li>
      <li class="indicator">
        <span class="field-indicator">
          <p>(PM<sub>2.5</sub>)</p>
          <p>Particulate Matter</p>
        </span>
        <p>20.8</p>
      </li>
      <li class="indicator">
        <span class="field-indicator">
          <p>(CO)</p>
          <p>Carbon Monoxide</p>
        </span>
        <p>222.0</p>
      </li>
    </ul>
    <div class="more-indicators-mobile">
      <div class="mobile-indicator">
        <li class="field-indicator">
          <fa-icon [icon]="faIndustry"></fa-icon>
          <p>2.0</p>
        </li>
        <li class="field-indicator">
          <fa-icon [icon]="faSun"></fa-icon>
          <p>2.75</p>
        </li>
        <li class="field-indicator">
          <fa-icon [icon]="faMaskFace"></fa-icon>
          <p>222.0</p>
        </li>
      </div>
      <div class="info-squares">
        <div class="square">
          <h2>PM<sub>10</sub></h2>
          <p>20.8</p>
        </div>
        <div class="square">
          <h2>PM<sub>2.5</sub></h2>
          <p>20.8</p>
        </div>
      </div>
    </div>
  </div>
</div>
