/* .indicators {
  background-color: palegoldenrod;
} */

.main-info {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.outer-circle {
  /* background-color: beige; */
  width: 200px;
  height: 200px;
  border-radius: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 10px var(--border-color);
}

.circle-info {
  width: 200px;
  height: 200px;
  /* border: 20px inset var(--success-green); */
  border-radius: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 10px var(--border-color);
}

.info-message-desktop {
  display: none;
}

.more-indicators-desktop {
  display: none;
}

.more-indicators-mobile {
  background-color: white;
  padding: 1rem 0 0 0;
}

.indicator {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid var(--border-color);
  /* background-color: bisque; */
}

.indicator:first-child {
  border-top: 2px solid var(--border-color);
}

.mobile-indicator {
  background-color: var(--dark-blue-magenta);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 10px;
}

.field-indicator {
  display: flex;
  gap: 0.5rem;
}

.field-indicator p:first-child {
  font-weight: 400;
}

.mobile-indicator li {
  list-style: none;
  color: white;
}

.info-squares {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  color: var(--dark-blue-magenta);
}

.square {
  background-color: var(--light-green);
  text-align: center;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--border-color);
}

/* --------------------------------------------------Circle indicator classes----------------------------------------------------------------- */

.aqi-lessThan20,
.aqi-lessThan40 {
  border: 20px inset var(--success-green); /* Good */
}

.aqi-lessThan60 {
  border: 20px inset var(--warning-orange); /* Unhealthy for sensitive groups */
}

.aqi-lessThan80,
.aqi-lessThan100 {
  border: 20px inset var(--error-red); /* Unhealthy */
}

.aqi-moreThan100 {
  border: 20px inset black; /* Hazardous */
}

@media only screen and (min-width: 1200px) {
  .indicators {
    padding: 1rem;
  }

  .main-info {
    flex-direction: row;
    padding: 2rem 4rem;
  }

  .more-indicators-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .indicator {
    width: 80%;
    background-color: var(--light-blue-magenta);
    color: white;
  }

  .more-indicators-mobile {
    display: none;
  }

  .info-message-mobile {
    display: none;
  }
}
