<div class="indicators">
  <div>
    <div class="location">
      <input
        type="text"
        id="location"
        name="location"
        placeholder="Localization:" />
    </div>
    <div class="info-message-mobile">
      <div style="width: 50px; height: 50px; background-color: orange"></div>
      <div>
        <h3>Clear air</h3>
        <p>You can go outside without fear and enjoy the day</p>
      </div>
    </div>
    <div class="main-info">
      <div class="outer-circle">
        <div class="circle-info">
          <p>79 AQI</p>
        </div>
      </div>
      <div class="info-message-desktop">
        <h3>Clear air</h3>
        <p>You can go outside without fear and enjoy the day</p>
        <div
          style="width: 100px; height: 100px; background-color: orange"></div>
      </div>
    </div>
    <ul class="more-indicators-desktop">
      <li class="indicator">
        <p>Dust</p>
        <p>2.0</p>
      </li>
      <li class="indicator">
        <p>UV index</p>
        <p>2.75</p>
      </li>
      <li class="indicator">
        <p>Particulate Matter PM<sub>10</sub></p>
        <p>20.8</p>
      </li>
      <li class="indicator">
        <p>Particulate Matter PM<sub>2.5</sub></p>
        <p>20.8</p>
      </li>
      <li class="indicator">
        <p>Carbon Monoxide CO</p>
        <p>222.0</p>
      </li>
    </ul>
    <div class="more-indicators-mobile">
      <div class="mobile-indicator">
        <li>2.0</li>
        <li>2.75</li>
        <li>222.0</li>
      </div>
      <div class="info-squares">
        <div class="square">
          <h2>PM<sub>10</sub></h2>
          <p>20.8</p>
        </div>
        <div class="square">
          <h2>PM<sub>2.5</sub></h2>
          <p>20.8</p>
        </div>
      </div>
    </div>
  </div>
</div>
