<div class="indicators">
  <div>
    <!-- SEARCH LOCATION INPUT -->
    <app-location-search />
    <!-- MAIN CIRCLE INFO -->
    <div class="main-info">
      <div class="outer-circle">
        <div class="circle-info">
          <p>{{ airQualityData?.european_aqi }} AQI</p>
        </div>
      </div>
      <app-quality-info-message />
    </div>
    <!-- DESKTOP MORE INDICATORS -->
    <ul class="more-indicators-desktop">
      <li class="indicator">
        <span class="field-indicator">
          <fa-icon [icon]="faIndustry"></fa-icon>
          <p>Dust</p>
        </span>
        <p>{{ airQualityData?.dust }}</p>
      </li>
      <li class="indicator">
        <span class="field-indicator">
          <fa-icon [icon]="faSun"></fa-icon>
          <p>UV index</p>
        </span>
        <p>{{ airQualityData?.uv_index }}</p>
      </li>
      <li class="indicator">
        <span class="field-indicator">
          <p>(PM<sub>10</sub>)</p>
          <p>Particulate Matter</p>
        </span>
        <p>{{ airQualityData?.pm10 }}</p>
      </li>
      <li class="indicator">
        <span class="field-indicator">
          <p>(PM<sub>2.5</sub>)</p>
          <p>Particulate Matter</p>
        </span>
        <p>{{ airQualityData?.pm2_5 }}</p>
      </li>
      <li class="indicator">
        <span class="field-indicator">
          <p>(CO)</p>
          <p>Carbon Monoxide</p>
        </span>
        <p>{{ airQualityData?.carbon_monoxide }}</p>
      </li>
    </ul>
    <!-- MOBILE MORE INDICATORS -->
    <div class="more-indicators-mobile">
      <div class="mobile-indicator">
        <li class="field-indicator">
          <fa-icon [icon]="faIndustry"></fa-icon>
          <p>{{ airQualityData?.dust }}</p>
        </li>
        <li class="field-indicator">
          <fa-icon [icon]="faSun"></fa-icon>
          <p>{{ airQualityData?.uv_index }}</p>
        </li>
        <li class="field-indicator">
          <fa-icon [icon]="faMaskFace"></fa-icon>
          <p>{{ airQualityData?.carbon_monoxide }}</p>
        </li>
      </div>
      <div class="info-squares">
        <div class="square">
          <h2>PM<sub>10</sub></h2>
          <p>{{ airQualityData?.pm10 }}</p>
        </div>
        <div class="square">
          <h2>PM<sub>2.5</sub></h2>
          <p>{{ airQualityData?.pm2_5 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
