<nav>
  <span
    class="nav-logo"
    routerLink="/home"
    (click)="toggleMenu()"
    (keydown)="handleKeydown($event)"
    tabindex="0">
    Breezy
  </span>
  <div>
    <div class="nav-content">
      <div class="nav-items" *ngIf="showMenu">
        <span
          routerLink="/home"
          (click)="toggleMenu()"
          (keydown)="handleKeydown($event)"
          tabindex="0"
          >Home</span
        >
        <span
          routerLink="/air-quality"
          (click)="toggleMenu()"
          (keydown)="handleKeydown($event)"
          tabindex="0"
          >Air quality</span
        >
        <span
          *ngIf="!isLoggedIn"
          routerLink="/auth/login"
          (click)="toggleMenu()"
          (keydown)="handleKeydown($event)"
          tabindex="0"
          >Login</span
        >
        <span
          *ngIf="!isLoggedIn"
          routerLink="/auth/register"
          (click)="toggleMenu()"
          (keydown)="handleKeydown($event)"
          tabindex="0"
          >Register</span
        >
        <span
          *ngIf="isLoggedIn"
          routerLink="/auth/profile"
          (click)="toggleMenu()"
          (keydown)="handleKeydown($event)"
          tabindex="0"
          >Profile</span
        >
        <span
          *ngIf="isLoggedIn"
          (click)="logout(); toggleMenu()"
          (keydown.enter)="logout()"
          tabindex="0"
          role="button">
          <fa-icon [icon]="faRightFromBracket"></fa-icon
        ></span>
      </div>
      <div
        class="hamburger-menu"
        [class.visible]="showMenu"
        (click)="toggleMenu()"
        (keydown)="handleKeydown($event)"
        tabindex="0">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
</nav>
