<div class="main">
  <div class="views">
    <div class="view"></div>
    <div class="view">
      <div>
        <app-custom-location *ngIf="!currentLocation" />
        <div>
          <div class="current-location" *ngIf="currentLocation">
            <p>Your chosen location</p>
          </div>
          <div class="address-field" *ngIf="currentLocation">
            <button
              class="modify-location"
              (click)="startEditing()"
              *ngIf="currentLocation">
              Edit
            </button>
            <div class="address">
              <p *ngIf="currentLocation">{{ currentLocation.location }}</p>
            </div>
            <button
              class="modify-location"
              *ngIf="!isEditing"
              (click)="deleteLocation(currentLocation._id)">
              Delete
            </button>
          </div>
          <div class="edit-field" *ngIf="isEditing">
            <fa-icon
              [icon]="faXmark"
              style="font-size: 1.5em"
              (click)="stopEditing()"></fa-icon>
            <input id="editInput" type="text" [(ngModel)]="editableLocation" />
            <button class="edit-btn" (click)="updateLocation()">Save</button>
          </div>
          <app-loader *ngIf="isLoading"/>
          <div class="pollen-field" *ngIf="airQualityData">
            <span>
              <h2>Pollen Levels</h2>
            </span>
            <div class="pollen">
              <span class="pollen-type">
                <div class="circle">
                  <fa-icon
                    [icon]="faTree"
                    style="
                      font-size: 1.5em;
                      color: var(--success-green);
                    "></fa-icon>
                </div>
                <div>
                  <p>Alder:</p>
                  <p>{{ airQualityData.alder_pollen }}</p>
                </div>
              </span>
              <span class="pollen-type">
                <div class="circle">
                  <fa-icon
                    [icon]="faLeaf"
                    style="
                      font-size: 1.5em;
                      color: var(--success-green);
                    "></fa-icon>
                </div>
                <div>
                  <p>Birch:</p>
                  <p>{{ airQualityData.birch_pollen }}</p>
                </div>
              </span>
              <span class="pollen-type">
                <div class="circle">
                  <fa-icon
                    [icon]="faClover"
                    style="
                      font-size: 1.5em;
                      color: var(--success-green);
                    "></fa-icon>
                </div>
                <div>
                  <p>Grass:</p>
                  <p>{{ airQualityData.grass_pollen }}</p>
                </div>
              </span>
            </div>
            <div class="pollen">
              <span class="pollen-type">
                <div class="circle">
                  <fa-icon
                    [icon]="faSeedling"
                    style="
                      font-size: 1.5em;
                      color: var(--success-green);
                    "></fa-icon>
                </div>
                <div>
                  <p>Mugwort:</p>
                  <p>{{ airQualityData.mugwort_pollen }}</p>
                </div>
              </span>
              <span class="pollen-type">
                <div class="circle">
                  <fa-icon
                    [icon]="faPagelines"
                    style="
                      font-size: 1.5em;
                      color: var(--success-green);
                    "></fa-icon>
                </div>
                <div>
                  <p>Olive:</p>
                  <p>{{ airQualityData.olive_pollen }}</p>
                </div>
              </span>
              <span class="pollen-type">
                <div class="circle">
                  <fa-icon
                    [icon]="faCannabis"
                    style="
                      font-size: 1.5em;
                      color: var(--success-green);
                    "></fa-icon>
                </div>
                <div>
                  <p>Ragweed:</p>
                  <p>{{ airQualityData.ragweed_pollen }}</p>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
