.views {
  height: 100svh;
}

.view:first-of-type {
  display: none;
}

.address-field {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  gap: 2rem;
}

.address {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: var(--dark-blue-magenta);
  color: white;
  border-radius: 30rem;
}

.modify-location {
  background-color: transparent;
  border: none;
  color: var(--dark-blue-magenta);
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  .views {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .view {
    width: 50%;
  }

  .view:first-of-type {
    display: flex;
    background-color: red;
  }

  .modify-location:hover {
    cursor: pointer;
    color: var(--success-green);
  }
}
