.views {
  height: 100svh;
}

.view:first-of-type {
  display: none;
}

.address-field {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  gap: 2rem;
}

.address {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: var(--dark-blue-magenta);
  color: white;
  border-radius: 30rem;
}

.modify-location {
  background-color: transparent;
  border: none;
  color: var(--dark-blue-magenta);
  font-weight: bold;
}

.edit-field {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#editInput {
  width: 40%;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 2px solid var(--border-color);
  background-color: transparent;
  color: black;
}

#editInput::placeholder {
  color: grey;
}

#editInput:focus {
  outline: none;
}

.edit-btn {
  background-color: transparent;
  border: none;
  color: var(--dark-blue-magenta);
  font-weight: bold;
}

.pollen-field {
  background-color: var(--sky-blue);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0;
  margin: 3rem 0;
  border-radius: 10px;
}

.pollen {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.pollen-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 1.5rem;
  background-color: var(--light-blue-magenta);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .views {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .view {
    width: 50%;
  }

  .view:first-of-type {
    display: flex;
    background-color: red;
  }

  .modify-location:hover {
    cursor: pointer;
    color: var(--success-green);
  }

  #editInput {
    width: 60%;
  }

  .edit-btn:hover {
    cursor: pointer;
    color: var(--success-green);
  }

  .pollen-field {
    margin: 3rem;
  }
}
