<div class="main">
  <div class="views">
    <div class="view"></div>
    <div class="view">
      <div style="padding: 1rem">
        <app-custom-location *ngIf="!currentLocation" />
        <div class="address-field" *ngIf="currentLocation">
          <button
            class="modify-location"
            (click)="startEditing()"
            *ngIf="currentLocation">
            Edit
          </button>
          <div class="address">
            <p *ngIf="currentLocation">{{ currentLocation.location }}</p>
          </div>
          <button class="modify-location" (click)="deleteLocation(currentLocation._id)">Delete</button>
        </div>
        <div class="edit-field" *ngIf="isEditing">
          <input id="editInput" type="text" [(ngModel)]="editableLocation" />
          <button class="edit-btn" (click)="updateLocation()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
