/* .main-view {
  background-color: yellow;
} */



/* .view {
  border: 1px solid black;
} */

/* @media only screen and (min-width: 1200px) {
  .views {
    flex-direction: row;
    justify-content: space-around;
  }

  .view {
    width: 50%;
  }
} */
