.main-view {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.views {
  background-color: pink;
  padding: 0.5rem;
}

.view {
    border: 1px solid black;
}

@media only screen and (min-width: 1200px) {
  .views {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 2rem;
  }

  .view {
    width: 50%;
  }
}
