<div class="auth">
  <div class="login column"></div>
  <div class="column">
    <form #form="ngForm" (ngSubmit)="login(form.value)">
      <h2 class="white">Login</h2>
      <input
        class="input"
        autoComplete="on"
        placeholder="Email"
        type="email"
        [(ngModel)]="user.name"
        name="email" />
      <input
        class="input"
        autoComplete="on"
        placeholder="Password"
        type="password"
        [(ngModel)]="user.password"
        name="password" />
      <button class="filled">Login</button>
      <div class="auth-actions">
        <p>
          Do not have an account?
          <span routerLink="/register"> Register </span>
        </p>
      </div>
    </form>
  </div>
</div>
