<div class="auth">
  <div class="login column"></div>
  <div class="column">
    <form>
      <h2 class="white">Login</h2>
      <input
        class="input"
        autoComplete="on"
        placeholder="Email"
        type="email"
        value="{email}" />
      <input
        class="input"
        autoComplete="on"
        placeholder="Password"
        type="password"
        value="{password}" />
      <button class="filled">Login</button>
      <div class="auth-actions">
        <p>
          Do not have an account?
          <span> Register </span>
        </p>
      </div>
    </form>
  </div>
</div>
